*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    padding: 0.8;
}

a{
    text-decoration: none;
    color: #233b69;
}

section{
    width: 100%;
    height: auto;
}

#text-search{
    display: none;
    padding-left: 1rem;
}


.search:active{

}

.page-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #f5f5f5;
  overflow: hidden;
}

.navbar-light .navbar-nav .nav-link{ 
    color: #233b69;
}
.dropdown-item{
    color: #233b69;
}

.m-4 :hover{ 
    color: #30ae4b;
}

#mouse:hover{
    color: #30ae4b;
}
#navbarDropdown.nav-link.dropdown-toggle.nvd :hover{
    color: #30ae4b;
}

h5{
    color:rgb(20, 167, 20);
}

h6{
    color:rgb(40, 44, 40);
}
p{
   color:rgb(0, 3, 0); 
}

.Left{
    padding-left: 0;
    padding-right: 0;
}

.title-head {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    right: 10%;
    text-align: center;
    color: #fff;
}

.button-about{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32%;
    right: 10%;
    text-align: center;
}

.responsive {
    width: 100%;
    height: auto;
}
